@import "../../../assets/conf";

.header {

    text-align: center;

    &>p,
    &>button {
        margin-bottom: 1.5rem;
    }

    &>p {
        font-size: 1.5rem;
    }

    &>button {
        border-radius: 30rem;
        background-color: black;
        color: aliceblue;
        padding: 0.7rem;
        cursor: pointer;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
    }
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .person,
    .person--add {
        width: 17rem;
        height: 24rem;

    }

    .persons {
        margin: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    .person--add {
        border: 1px dashed $textColor;
        color: $textColor;
        background-color: white;
        margin: 1rem;
        cursor: pointer;
    }

    .person {
        box-shadow: 0 0 50px #ccc;
        margin: 1rem;
        position: relative;


    }
}