<div class="header">
    <p> {{ presentation }} </p>
    <button type="button" id="button" (click)="beerService.addBeerFromApi()"> Ajouter une personne </button>
</div>
<main>
    <section id="persons" class="persons" >

    <ng-container *ngIf="beerService.beers.length > 0">
        <div class="person" *ngFor="let beer of beerService.beers, index" >

        <!-- STEP 4 Delete User in array, inject event with 'deleted' property output and indicate use on this event the app function witch delete user in array-->
        <app-beer [beer]="beer" (deleted)="beerService.removeBeerFromList($event)"></app-beer>

        </div>
    </ng-container>

    <button class="person--add" id="button-block" (click)="beerService.addBeerFromApi()"><lucide-icon name="user-plus"></lucide-icon></button>
</section>
</main>
