header {
    display: flex;
    align-items: center;
    padding: 1em;
    position: sticky;
    top: 0;
    background: black;

    box-shadow: 0 0 16px rgba(black, 0.08);

    &>a {
        color: aliceblue;
        list-style: none;
        list-style-type: none;
  }
  }
  
  nav {
    margin-left: auto;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &>a {
        color: aliceblue;
  }
}
