@import "../../../assets/conf";

.person {

    &__image,
    &__info {
        width: 100%;
    }

    &__image {
        // BUG centrer l'image
        text-align: center;
        width: 30%;
        //margin: 0.5rem auto;
        filter: grayscale(100%);
    }

    .image-container {
        position: relative;
        width: 100%;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 90%);
            //z-index: 1;
        }
    }

    &__info {
        padding: 1rem 1rem;
        position: absolute;
        top: 50%;
        //height: 50%;
        z-index: 1;
        background-color: white;

        &-fullname,
        &-age,
        &-address,
        &-mail {
            margin-bottom: 0.8rem;
        }

        &-age,
        &-address,
        &-mail {
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            &>lucide-icon {
                margin-right: 0.5rem;
            }
        }

        &-fullname {
            font-weight: bold;
            font-size: $fontSizeSubTitle;
        }
    }

    &--deleted {
        cursor: pointer;
        position: absolute;
        z-index: 5;
        top: 1rem;
        right: 1rem;
    }
}
