<ng-container *ngIf="beer">
    <a *ngIf="beer?.picturePath" class="beer__link" [routerLink]="['/beers', beer.id]"
    >Go to bière</a
  >

    <div class="image-container">
        <img src="{{beer?.picturePath}}" alt="photo de profil" class="person__image"/>
    </div>
    <div class="person__info">
    <h2 class="person__info-fullname" > {{ beer?.name }} </h2>
        <p class="person__info-address">
            <lucide-icon name="home"></lucide-icon>
            {{ beer?.tagline }}
        </p>
        <p class="person__info-age">
            <lucide-icon name="gift"></lucide-icon>
            Taux alcool : {{ beer?.alcoholLevel }}
        </p>

        <p class="person__info-mail">
            <lucide-icon name="lightbulb"></lucide-icon>
            {{ foodsPairing }}
        </p>
    </div>
    <div class="person--deleted" id="button-delete" (click)="clickOnDeletedBeer()"> <lucide-icon name="trash-2"></lucide-icon> </div>

</ng-container>