@use 'sass:math';

// colors 	-----------------------------------------------------------------------/
$color1: #296b85;
$color2: #278588;
$color3: #4fb18c;
$color4: #6c9;
$color5: #a4da81;
$color6: #d1d672;
$color7: #ffd263;
$color8: #f5b059;
$color9: #eb8f4e;
$color10: #e16d44;
$color11: #b76d53;
$color12: #626c71;
$color13: #587781;

// $color1: #005e7e;
// $color2: #009da9;
// $color3: $Color10;

$titleColor: $color1;
$textColor: $color13;
$linkColor: $color2;
$listColor: $color2;


// fonts 	-----------------------------------------------------------------------/
$fontFamily: 'Source Sans Pro', '-apple-system', 'BlinkMacSystemFont',
  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans',
  'Helvetica Neue', 'sans-serif';
$fontFamilyTitle: 'Carrara', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue',
  'sans-serif';

// sizes 	-----------------------------------------------------------------------/
$fontSizeTitle: 2rem;
$fontSizeSubTitle: 1.3rem;

$wrapperSize: 16.8rem * 8;

$desktop: 1500px;
$smallDesktop: 1400px;
$bigTablet: 1024px;
$tablet: 900px;
$bigPhone: 720px;
$phone: 440px;
$smallPhone: 360px;

$easing: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$toggleMenu-size: 6rem;

// mixins ---------------------------------------------------------------------/

@mixin resetList {
  ul,
  li {
    overflow: inherit;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

@mixin object-fit($fit: fill, $position: null) {
  -o-object-fit: $fit;
  object-fit: $fit;

  @if $position {
    -o-object-position: $position;
    object-position: $position;
    font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
    font-family: 'object-fit: #{$fit}';
  }
}

@mixin resetButton {
  appearance: none;
  padding: 0;
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
  margin: 0;
}

@mixin clearfix {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }

  *zoom: 1;
}




